@import "../Vars.scss";

main {
  display: flex;
  justify-content: space-around;
}
.main-containers {
  display: flex;
  width: 100vw;
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  min-width: 512px;
  max-width: 600px;
  min-height: 500px;
}
.container-left {
  background-color: blueviolet;
}

.container-right {
  background-color: brown;
}

.cards-container {
  background-color: white;
  width: 100px;
  height: 100px;
}

.category-container {
  background-color: white;
  width: 100px;
  height: 100px;
}
