@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $theme-font;
  font-size: 8px;
}

body {
  background-color: $main-color;
}

#app {
  position: relative;
  height: 100vh;
}
