@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap");
$theme-font: "Roboto", sans-serif;
$menu-font: "Roboto Condensed", sans-serif;
$main-color: #10030c;
$clickable-color: #00ffb9;
